*
{
    margin: 0;
    padding: 0;
    font-family: '나눔바른고딕';
}
html,body
{
    width:100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%; 
    box-sizing: border-box;
    font-size: 15px;
} 
.app-wrapper > header
{
    padding: 40px 64px; 
    height: 63px;
}
li
{
    list-style: none;  
    display: inline-block;
    margin: 27px 0 24px 0; 
    a
    {
        text-decoration: none;
    }
}   
.left-menu-wrapper,.right-menu-wrapper
{ 
    display: inline;
    ul {
        display: inline;
        li { 
            display: inline-block; 
            a {
                font-weight: 800;
                color:#6ed3d8;  
                &.active,&:hover { 
                    color: #547b7e;
                }
            }
        }
    }
}
.left-menu-wrapper
{ 
    ul {
        li {
             border-right:2px solid #e5e5e5;
             float: left;
             padding: 0 30px;
            &:last-child {
                border-right: 0px;  
            } 
        }
    }
}
.right-menu-wrapper
{ 
    float: right;
    ul {
        li { 
             padding: 0 17px; 
             a
             {
                 &.right-active
                 {
                    color: #547b7e;
                 }
             }
        }
    }
}
.logo-wrapper
{
    display: inline-block;
    float: left;
    img
    {
        width: 177px;
        height: 70px;
    }
}   
.fillter
{
    background-color: #eff6f6;    
    border-top: 1px solid #d5e7e8;
    height: 254px; 
    padding: 0 200px;
    h1
    {
        font-size : 50px;
        color:#588386;
        font-weight: 500;
        padding-left: 22px;
        padding-top: 70px;
        padding-bottom: 30px;
    }
    ul
    {
        display: inline;
        li
        {
            display: inline;
            button
            {
                font-size: 20px;
                color:#588386;
                border: 0;
                background-color: transparent;
                //margin: 64px 49px;
                padding: 25px;
                &:hover
                {
                    border-bottom: 5px solid #6ed3d8;
                }
                &.selected
                {
                    border-bottom: 4px solid #6ed3d8;
                }
            }
        }
    }
} 
li { 
    button
    {   
        border: 0;  
        span
        {
            @width: 34px;

            border-radius: @width;
            padding: 0 6px;
            box-sizing: border-box;
            display: inline-block;
            min-width: @width;
            height: @width;
            margin-left:5px;
            font-size: @width / 2;
            text-align: center;
            line-height: @width - 4px;
        } 
    }
}
.span1
{
    border: 2px solid #b0c6c7;
}
.span2
{
    border: 2px solid #7ad40f;
}
.span3
{
    border: 2px solid #d0d3d3;
}
.span4
{
    border: 2px solid #f4e49a;
}
.span5
{
    border: 2px solid #fe6363;
} 
.search
{
    position: relative; 
    width:365px;
    height:26px; 
    margin-top:5px;
    float: right;
    input
    { 
        border: 1px solid #b0c6c7;
        background-color: transparent;
        padding: 20px 20px 20px 50px;
        border-radius: 50px;    
        color:#b0c6c7;
        font-size:15px;
        width: 100%;
        box-sizing: border-box;
    }
    i
    {
        position: absolute;
        top:20px;
        left:20px;
        transform:rotate(90deg);
        color: #b0c6c7;
    }
}
.space
{   
    display: inline; 
}
.grid 
{   
    margin: 0 200px;
    text-align: center; 
    table
    { 
        border-collapse: collapse;
        thead,tbody 
        {
            tr 
            { 
                td{
                    padding: 20px;
                    // border: 1px solid gray; 
                }
                
            }
        } 
        thead
        {
            tr{
                border-bottom: 1px solid #d0d3d3;  
                th
                {
                    color: #aaa;
                    padding: 20px 10px; 
                }
            }
        }
        tbody
        {
          tr 
          {
            &:nth-child(2n) {background-color: #fafbfb;} 
            td
            {
                color:#588386;
                font-size: 20px; 
            }
          }  
        }
    }
     
}
.status
{ 
    border-radius: 50%;
    display: inline-block;
    width:15px;
    height:15px;
}
.st1
{
    background-color: #8fdc33;
}
.st2
{
    background-color: #ff7373;
}
.st3
{
    background-color: #d8d8d8;
}
.st4
{
    background-color: #fbd239;
}
.btn-wrapper
{
    margin: 20px 200px 0 ;
    float: right;
}
.sel-wrapper
{
    position: relative;
    i
    {
        position:absolute; 
        right:20px; 
        top:0; 
        font-size: 20px;  
    }
} 
.sel-all
{
    width:180px;
    box-sizing: border-box;
    border: 1px solid #e1e4e3;
    padding: 15px;
    display: inline-block;
    appearance: none;   
    -webkit-appearance: none; /* 화살표 없애기 for chrome*/
    -moz-appearance: none;    /* 화살표 없애기 for firefox*/
    appearance: none;         /* 화살표 없애기 공통*/ 
}
.Campaign-wrapper
{
    position: relative;
    i
    {
        position:absolute; 
        left:80px; 
        top:15px; 
        font-size: 15px;  
        color: black;
    }
}
.btn-Campaign
{
    width:160px;
    border:0; 
    padding: 10px;
    display: inline-block;
    text-align: left;
    background-color: transparent;
    color: #aaa;
} 
.sch-wrapper
{
    position: relative;
    i
    {
        position:absolute; 
        right:50px; 
        top:15px; 
        font-size: 15px;  
        color: black;
    }
} 
.btn-sch
{
    width:180px;
    border:0;
    background-color: #eff6f6;
    padding: 10px; 
    text-align: left;
    color: #aaa;
    // appearance: none;   
    // -webkit-appearance: none; /* 화살표 없애기 for chrome*/
    // -moz-appearance: none;    /* 화살표 없애기 for firefox*/
    // appearance: none;         /* 화살표 없애기 공통*/ 
}
// select::-ms-expand 
// {
//    display: none;            /* 화살표 없애기 for IE10, 11*/
// }
.btn-new
{
    width:180px;
    border:0;
    font-size: 14px;
    padding: 18px 0;
    background-color: #6ed3d8;
    margin-left: 20px;
    color: #fff;
}
.btn-wrapper div
{
    display: inline;
}
.edit-wrapper
{
    button
    {
        
        background-color: transparent;
        width:20px;
        border:0;
        outline: none;
        i
        {
            color: #d7dada;
            font-size:20px;
            width:20px; 
            &.active,&:hover { 
            color: #2b393a;
            }
            &.edit-selected
            {
                color: #588386;
            }
        }
        
    }
}
.chk
{
    width: 20px;
    margin: 0;
    float: none;
}
.show-more
{
    text-align: center;
    margin: 50px 0;
    p
    {
        font-weight: 800;
         color: #a9dddf;    
    }
}
.td-left
{
    text-align: left;
}
.check-wrap
{ 
    display: inline-block;
    width: 80px;
    height: 40px; 
    .label-wrap 
    {
        background : #d0d3d3;
        border-radius: 40px; 
        position: relative;
        line-height: 40px;
        label 
        {
                position: relative;
                display: inline-block;
                width:100%;
                font-size:1rem;
                color: #fff;
                font-weight: 800;
                box-sizing: border-box;
                user-select:none;
                z-index: 2;

            &.to-off
            {
                padding-left: 10px;
                text-align: left;
            }

            &.to-on
            {
                padding-right: 10px;
                text-align: right;
            }
        }
        &:after
        {
            position: absolute;
            top:4px;
            left:4px;
            width: 34px;
            height:34px;
            border-radius: 50%; 
            background-color: #fff;
            content: '';
            z-index: 1;
            transition: all .5s ease;
        }
      }
    input[type="checkbox"]
    {
        display: none;
        &+.label-wrap 
        { 
            .to-on {
                color: #888888;
            }    
            .to-off {
                display: none;
            }    
        }

        &:checked+.label-wrap
        {
            background: #588386;
            .to-on
            {
                display: none;
            }
            .to-off
            {
                display: inline-block;
            }
            &:after {
                transform: translateX(38px);
            }
        }
    }
}
.tablesorter
{
    tr
    {
        th
        {
            font-weight: 500;   
            .fas.fa-angle-down
            {
                display: none;
            }
                .fas.fa-angle-up
            {
                display: none;
            }
            
            &[aria-sort="descending"]
            {
                .fas.fa-angle-down
                {
                  display: inline-block;
                }
                 .fas.fa-angle-up
                {
                  display: none;
                }
            }
            &[aria-sort="ascending"]
            {
                .fas.fa-angle-down
                {
                  display: none;
                }
                 .fas.fa-angle-up
                {
                  display: inline-block;
                }
            }
        }
    }
}
.contact-us-wrap
{ 
    text-align: right;
    .btn-contact-us
    {
        background-color: rgb(242,251,252);
        padding: 10px 20px;
        border:0;
        border-radius: 5px;
        color: #588386;
        margin-right: 200px;
        font-weight: 800;
    }
    .contact-us-content
    {
        height: 10px;
        background-color: rgb(242,251,252);
        
    }
}
